.profile-links {
  margin-top: 2rem;
  a {
    display: block;
    color: #333;
    margin: 0.1rem 1rem;
    &:hover {
      color: #4979ff;
    }
    i {
      margin-right: 0.2rem;
    }

    &.btn {
      background-color: #333;
      color: #f4f4f4;

      &:hover {
        background-color: #222222;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
