.navbar {
  padding: 10px 5px;
  padding-right: 10px;
  .logo {
    height: 70px;
  }

  .navbar-nav {
    align-items: center;
  }
  .menu-button {
    float: right;
    position: sticky;
    font-weight: 600;
    color: #1f1f1f;
    &:hover {
      color: #000;
    }
  }
}
