.student {
  margin: auto;
  a {
    color: #333;
  }
  .icons {
    a {
      margin: 0 0.5rem;
    }
  }
  a {
    .picture {
      margin: auto;
      border-radius: 50%;
      width: 250px;
      height: 250px;
      background-position: center;
      background-size: cover;
      margin-bottom: 1rem;
      color: #f4f4f4;
      position: relative;
      // display: flex;
      // justify-content: center;
      // align-items: flex-end;
      transition: all 1s ease-in-out;
      .student-content {
        position: absolute;
        flex-direction: column;
        transition: all 1s ease-in-out;
        width: 250px;
        bottom: -25px;
        div {
          height: 25px;
          width: 100%;
          background: #333;
          border-radius: 15px;
        }
        .learn-more {
          opacity: 0;
          transition: all 0.5s ease-in-out;
          strong {
            opacity: 0;
          }
        }
      }
    }
    &:hover {
      .picture {
        transform: scale(0.9);
        .student-content {
          transform: scale(1.1);
          bottom: 0;
          .student-name {
            border-radius: 15px 15px 0 0;
          }
          .learn-more {
            opacity: 1;
            border-radius: 0 0 15px 15px;
            strong {
              opacity: 1;
              transition: all 0.8s ease-in-out;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .student {
    margin-bottom: 50px;
  }
}
