.student {
  margin: auto;
  a {
    color: #333;
  }
  .icons {
    a {
      margin: 0 0.5rem;
    }
  }
  a {
    .picture {
      margin: auto;
      border-radius: 50%;
      width: 250px;
      height: 250px;
      background-position: center;
      background-size: cover;
      margin-bottom: 1rem;
      color: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      transition: transform 0.5s ease-in-out;
      .student-name {
        height: 50px;
        width: 100%;
        background: #333;
        transition: transform 0.5s ease-in-out;
      }
    }
    &:hover {
      .picture {
        transform: scale(0.8);
        .student-name {
          transform: scale(1.2);
          :after {
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .student {
    margin-bottom: 50px;
  }
}
