.student {
  margin: auto;
  a {
    color: #333;
  }
  .icons {
    a {
      margin: 0 0.5rem;
    }
  }
  a {
    .picture {
      margin: auto;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background-position: center;
      background-size: cover;
      margin-bottom: 1rem;
      color: #f4f4f4;
      div {
        height: 200px;
        background: #333;
        border-radius: 50%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:hover {
          opacity: 0.9;
          transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }
  }
}
